body {
  margin: 0;
  background-color: #31304d;
}

#nav {
  width: 990px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
#movieName {
  background-color: rgba(0, 0, 0, 0.112);
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 1px solid lightgray;
}
#movieName:focus {
  outline: none;
}
#search-icon {
  background-color: #31304d;
  border: none;
  cursor: pointer;
}
svg {
  margin-left: -50px;
}
.icon {
  font-size: 60px;
}
#notFound {
  text-align: center;
  margin-top: 160px;
  color: rgba(255, 255, 255, 0.833);
}
.nf-title {
  margin: 0;
}
.nf-desc {
  margin-top: 0;
  color: rgb(255, 255, 255);
}
.movieContainer {
  margin-top: 80px;
  justify-content: center;
  display: flex;
}
.movie-details {
  width: 50%;
}
.d-none {
  display: none !important;
}
